<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cities</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <h2>List of users</h2>

        <table>
            <tr>
                <th>id</th>
                <th>firstname</th>
                <th>lastname</th>
            </tr>
            
            <tr th:each="user : ${user}">
                <td th:text="${user.id}">Id</td>
                <td th:text="${user.firstname}">firstname</td>
                <td th:text="${user.lastname}">lastname</td>
            </tr>
        </table>

    </body>
</html>